.header-color{
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid {
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a:hover{
    font-weight: bold;
    font-size: 17px;
}

.projects-grid{
    display: flex;
}

.avatar-img{
    height: 250px;
    margin-top: 3.5em;
    border-radius:50%;
}

.banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text hr{
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.social-links i{
    display: flex;
    color: white;
    font-size: 5em;
    padding: 0.2em;
}

/* Contact Page */

.contact-body{
    margin: auto;
    background: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
}

.contact-grid{
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    border: 2px solid red;
    margin-bottom: 20px;
}

.contact-grid h2{
    font-family: 'Aton', sans-serif;
}

.contact-grid p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.contact-grid hr{
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}

.contact-list i{
    font-size: 30px;
    padding-right: 0.5em;
}

/* Resume Page */

.resume-right-col{
    color: white;
    padding: 2em;
    background: #948E99;
    background: -webkit-linear-gradient(to top, #2E1437, #948E99);
    background: linear-gradient(to top, #2E1437, #948E99);
}

/* About Me Page */

/* .about-me{
    width: 100%;
    display: block;
    text-align: center;
}
*/
.about-me p{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 150%;
}

/* Projects Page --in progress */

.projects-comming-soon{
    width: 100%;
    display: block;
    text-align: center;
}